.a{
    height: 100vh;
    display: flex;
    align-items: center;
    /* background-color: white; */
    /* position: absolute; */
}

.a-left{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    /* background-color: green; */
    position: relative;
}

.a-right{
    flex:1.4;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* justify-content: space-between; */
    position: relative;
    height: 100%;
    /* align-items: center; */
    /* background-color: red; */
}

.about-titles{
    width:100%;
    padding-top:90px;
    display: flex;
    align-items: center;

    /* background-color: pink; */
}

.a-title{
    align-items: center;
    /* display: flex; */
    height: auto;
    width: auto;
    /* margin-left: 33%; */
    font-size: 35px !important;
    padding-bottom: 15px;
    text-shadow:   2px 3px #5eb75a;

    /* background-color: pink; */
}

.a-card.bg{
    position: absolute;
    top: 160px;
    left: 70px;
    background-color: #333;
}

.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: absolute;
    overflow: hidden;
    top: 120px;
    left: 110px;
}

.a-img{
    /* width:30%; */
    /* width: 45%; */
    height: 100%;
    width:100%;
    /* padding: 100px 100px; */
    /* position: absolute; */
    object-fit: cover;
    border-radius: 30px;
}

.a-right-wrapper{
    /* padding: 10px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* padding-top: 120px; */
    /* background-color: red; */
}
.me-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right:70px;
    width: auto;
    /* background-color: purple; */
    height: 70vh;
    /* top:50px; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    align-content: space-between;
}
.me-card1{
    width: auto;
    /* height: 50px; */
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    /* top: 50px; */
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    display: flex;
    height: auto;
    overflow: hidden;
    
    border-radius: 20px;
}

.me-card-icons{
    width: auto;
    height: 50px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    /* top: 50px; */
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #333; */
    display: flex;
    height: auto;
    overflow: hidden;
    
    
    border-radius: 20px;
}

.card-icon{
    flex:1;
    flex:0cm;
    color: #5eb75a;
    animation: grow 3s infinite;
}
.icon-exp{
    color: rgb(171, 165, 165);
}
.a-desc{
    color: white;
    flex: 6; 
}

@keyframes grow {
    0% { transform: scale(1); }
    50% { transform: scale(0.8);   }
    100% { transform: scale(1); }
}

.about-scroll{
    /* display: flex; */
    width: 30px;
    height: 50px;
    /* background-color: pink; */
    /* top: 80%; */
    /* position: absolute; */
}


@media screen and (max-width:480px) {
    .a{
        flex-direction: column;
        /* size: auto; */
        /* align-content: center; */
        /* justify-content: center; */
        position: relative;
        display: flex;
        width: auto;
        height: auto;
        /* text-align: center; */
    }
    .a-left{
        display: flex;
        size: auto;
        justify-content: center;
        align-content: center;
        margin: 35px ;
        margin-bottom: 100px;
        position: relative;
    }
    .a-right{
        position: relative;
        display: flex;
        /* height:auto; */
        size: auto;
    }
    .card-icon{display: none;}

    .a-card.bg{
        position: absolute;
        top: 8px;
        left: -3px;
        background-color: #333;
        height: 500px;
        width: 350px;
        margin: 0px;
        padding-top: 30px;
        border-radius: 30px;
      

    }
    
    .a-card{
        width: 350px;
        height: 535px;
        border-radius: 30px;
        position: relative;
        margin: -20px;
        overflow: hidden;
        top: 10px;
        left:0px;
        
    }
    .a-desc{
        font-size: 14px;
    }
    .about-titles{
        padding-top: 0px;
        /* align-content: center !important; */
        justify-content: center;
    }
    .a-title{
        font-size: 30px;
        padding-top: 15px;
    }
    .a-right-wrapper{
        /* display: flex; */
        /* size: auto; */
        /* height: 100%; */
        width: 100%;
        height: auto;
       
        justify-content: center;
        align-content: center;
        /* position: relative; */
        font-size: 12px;
        position: relative;
    }
    .me-cards{
        padding-right: 0px;
        margin: 5% 5% 5% 5%; 
        height:700px;

    }
    .me-card1{
        /* overflow:scroll; */
        text-align: center;
        justify-items: center;
        align-content: center;
        padding-left: 15px;
    }

    .why-wrapper{
        width:100%;
    }
    
    
}