.i{
    display:flex;
    height: 100vh;
    background-color: white;
}

.i-left{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}
.i-right{
    flex:1;
    position: relative;
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
}
.i-left-wrapper{
    padding: 80px;
    /* padding-left: 70px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content:first baseline; */
    /* padding-top: 0px; */
    /* background-color: red; */
    /* position: relative; */
    /* align-items: center; */
}

.into-block{
    display: flex;
    flex-direction: column;
    height:auto;
    width:auto;
    /* padding-top: 150px; */
    /* top: 150px !important; */
    /* background-color: blue; */
    /* padding-bottom: -100px; */
}
.a-mob-wrapper{
    /* background-color: brown; */
    height:auto;
    width:auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
    /* align-items: center; */
    /* align-self: center; */
    /* justify-items: center; */
    /* padding-top: 40px; */
    /* justify-content: left; */
    /* align-items: flex-start; */

}

.i-intro{
    font-size: 30px;
    font-weight: 300;
    /* display: flex; */
    padding-top: 15px;
}

.i-name{
    font-size: 60px;
    padding-bottom: 10px;
}

.i-title{
    height: 50px;
    overflow:hidden;
    /* padding-bottom: 50px; */
    /* background-color: yellow; */

}

.i-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{transform: translateY(-50px)}
    50%{transform: translateY(-100px)}
    75%{transform: translateY(-150px)}
    100%{transform: translateY(-200px)}
}

.i-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #5eb75a;
    /* display: flex; */
    /* align-items: center; */
    /* background-color: blue; */
    
}

.i-desc{
    height: auto;
    font-size: 18px;
    padding-right: 15px;
    padding-top: 10px;
    /* padding-top: 20px; */
    /* background-color: pink; */
    
}

.i-img{
    /* background-color: black; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.i-bg{
    clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 100%, 25% 100%, 0% 50%);
    background-color: #5eb75a;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom:0;
    /* left:40px; */
    /* padding-left: 600px; */
    overflow: hidden;
    
}


.bot-buts{
    display: flex;
    flex-direction: column;
    width:auto;
    height:35vh;
    align-items: center;
    /* background-color: blue; */
    justify-content: space-evenly;
    align-content: space-between;
}

.i-scroll{
    width: 30px;
    height: 50px;
    /* top: 90%; */
    /* position: absolute; */
    /* padding-top: 50%; */
    /* background-color: red; */
    /* background-color: pink; */
    padding-top: 40px;
    /* align-self: center; */
}

/* .i-desc{
    display: flex;
} */

.i-links{
    width: 250px;
    height: 50px;
    /* position: absolute; */
    /* padding-top: 35%; */
    /* top: 78%; */
    /* left:auto; */
    justify-content: space-evenly;
    align-items: center;
    /* background-color: red; */
    display: flex;
    padding-top: 20px;
    /* background-color: grey; */
    /* align-self: center; */
 


}

.i-cv{
    width: 250px;
    height: auto;
    /* position: absolute ; */
    padding-top: 90px;
    /* top:68.5%; */
    justify-content: space-evenly;
    align-items: center;
    /* background-color: red; */
    display: flex;
    /* background-color: pink; */
    /* margin: 100px 0px ; */
    /* background-color: purple; */
    /* align-self: center; */
    /* top: 10%; */
}
.link-icon{
    text-shadow:  2px 4px 4px #5eb75a;
}
.i-button{
    padding: 15px 15px;
    text-decoration: none;
    box-shadow:  2px 4px 4px #5eb75a;

    border:black 2px solid ;
    border-radius: 12px;
    /* letter-spacing: 1px; */
    color: black;
    /* position: absolute ; */
    /* background-color: blue; */
    /* align-self: center; */
}

a, a:visited, a:active {
    color: black ;
  }

a:hover{
    color: #5eb75a !important;
    transform: scale(1.05);
}

.i-mob-img{
    display: none;
}

@media screen and (max-width:480px) {
    .i{
        flex-direction: column;
        size:auto;
        position: relative;
        /* width: 100%; */
        /* text-align: center; */

    }

    .i-left{
        /* height: 600px !important; */
        /* width: 100%;
        position: relative; */
        /* justify-content: ; */
        align-items: flex-start;
        padding-bottom: 25vh;
    }
    .i-right{
        display: none;
        /* height:500% !important; */
        position: relative;
        height: 100%;
        width: 100%;
        /* position: absolute; */
    }
    .i-desc{
        /* display: none; */
        font-size: 15px;
        text-align: center;
        padding-bottom: 15px;
        margin: 10px 10px;
    }
    .i-intro{
        font-size: 28px !important;
        font-weight: 100;
        padding-top: 20px;
        /* display: flex; */
        text-align: center;
    }
    .i-name{
        font-size:35px;
        padding-top: 3px;
        text-align: center;
    }
 

    .i-mob-img{
        width: auto;
        height:210px;
        display: flex;
        /* position: relative; */
        /* left:150px;
        top:-230px; */
        overflow: hidden;
        /* align-self: center; */
        padding-left:25px;
        /* padding-top: 5px; */
    }

    /* .i-scroll{ display: none;} */
    .i-title-item{
        overflow:hidden !important;
        font-size: 22px;
    }

    .i-left-wrapper{
        padding: 1px;
        align-items: center;
        /* text-align: center; */
        /* justify-content: space-around; */
        height:750px;

        
    }
    .i-title{
        /* justify-content: space-evenly; */
        text-align: center;
        align-items: center;
        justify-content: center;
        /* height:50px !important; */
        /* display: flex; */
    }

    .bot-buts{
        height:auto;

    }
    .i-button{
        max-width: auto;
        font-size: 14px ;
    }
    .i-links{
        padding-bottom: 10px;
        padding-top: 9px;
        /* max-width: 60%; */
    }
    .link_icon{
        max-width: 30px;
    }
    .i-right{
        height:auto;
    }
    .i-scroll{
        padding-top: 0px;
        max-width: 25px;
    }
    .i-img{
        /* padding-top: 20px; */
        height:400px;
    }
    .i-bg{
        height:400px;
        /* display: flex; */
    }

    .i-cv{
        padding-top:2px;
        
    }
    

}